*{
    margin:0px;
    padding:0px;
}
.manu1 .icon {
  display: none;
}

/*main contain*/
.hmain{
    background: #0a202f;  
   height: 400px;

}
/*navi bar*/
.hnavi1
{
   /*position: sticky ;
   top: 0;*/
    background-color: #0a202f; 
  text-align: center;
padding-top: 50px; 
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    background-color: #0a202f;
    transition: 0.3s;
  }
  .sticky  .hcontain1{
      background-color: #0a202f;

  }
.hmanu1 a:hover{
    color: gray;
   
}
.hmanu1 a{
    background-color: #0a202f; 
    padding: 15px;
    font-variant: small-caps;
    margin: 20px;
    overflow: hidden;
    font-size: 20px;
    text-decoration: none;
    color:white;
}
.hmain #a:hover{
  background-color: rgb(169, 169, 169);
}
.bt:hover{
    background-color: rgb(169, 169, 169);
}
.bt
{
 border-radius: 5px;
  text-decoration: none;
  border: none;
  color:  #0a202f;
  background-color: rgba(255, 255, 255, 0.89);
  padding: 8px 30px;
  font-size: 22px;
}
/*new navibar*/

.navbar {
  font-size: 18px;
  padding-bottom: 16px;
  transition: 0.5s;

}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: white;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 20px;
  right: 50px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 30px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}
.nav-links:hover{
  color: #809caf3f;
}
/*new end */



/*ccontain bar */
.hcontain1
{

  color:  white;
   overflow: hidden;
   padding: 10px;
}
.hcon_1 
{
    text-align: center;
    font-size: 27px;
    padding: 20px;
    
}

.hp1{
  
font-size: 20px;
padding-top: 20px;
margin-bottom: 3%;
}
  /*contain 2 */
  .hcontain2
{

    margin-top: 15%;
   position: relative;
   top: 50px;
   padding: 20px;
  margin-left: 5%;
 display: flex;
   padding: 20px;
}
.hcon_2
{
    font-size: 27px;
    padding: 10px;

}
.imgtag{

 width: 50%;
}
.p2{
    color: #0a202f;
font-size: 20px;
margin-bottom: 3%;
}
.btn{
  background-color: #bccfda;
  padding: 20px;
}
.bt
{
    background-color: #0a202fee;
    color: white;
}
.bt:hover
{
  background-color: #0a202f9d;
  color: #0a202f;
}
/*footer*/

.hfooter{
  width: 100%;
  background-color: #0a202f;
  display: block;
}
.hinner-footer
{
  width: 80%;
  margin: auto;
  padding: 30px 10px;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  
}
.hfooter-items
{
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}
.hfooter-items h2
{
  padding: 10px 0;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}
ul
{
  list-style: none;
  color: white;
  font-size: 16px;
  letter-spacing: 0.5px;
}
a{
  color: aliceblue;
}
ul a {
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
  padding: 50px;
}
.hend-footer
{
  background-color: #0a202f;
  margin-top: 5%;
 margin-left: 10%;
 font-size: 16px;
 width: 80%;
}
.hend-footer h3
{
font-size: 16px;
color: aliceblue; 

}
.hend-footer a{
  margin: 1%;
  text-decoration: none;
}
.hend-footer p{
  color: rgba(175, 175, 175, 0.582);
  font-size: 16px;
display: block;
}
.icons
{ 
  float: right;
}
