*{margin: 0px;
padding: 0px; 
}
.color{
  background-color: rgb(255, 255, 255);
}
.slide
{
    background-color: rgb(221, 221, 221);
    height: 600px;    
   
}

.dot{
    font-size: 50px;
    position: relative;
    color: rgba(6, 12, 12, 0.404);
    color: #0a202f;
    margin-left: 50px;    
    margin-top: 100%;
    
}


 #h
{
    font-size: 60px;
    color: #0a202f;
    margin-left: 60px;
    margin-top: 60px;
    margin-right: 50px;
}
.slider {
  width: 100%;
  height: 200px;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 50px;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .slide {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}
.item{ width: 210px;
  
  border: none;
 }
.slider .item {
  text-align: center;
 
  display: block;
  margin-right: 1px;
  /*background-color: rgb(255, 254, 254);*/
}
.slider .item:last-child {
  margin-right: 0;
}
.ctrl {
  text-align: center;
  margin-top: 5px;
}
.ctrl-btn {
  padding: 20px 20px;
  width: 50px;
  background: rgba(0, 0, 0, 0.452);
  border: none;
  font-weight: 100;
  text-align: center;
  cursor: pointer;
  outline: none;

  position: absolute;
  top: 50%;
  margin-top: -27.5px;
}
.ctrl-btn.pro-prev {
  left: 0;
}

.ctrl-btn.pro-next {
  right: 0;
}

/*contain3 */

